/* Colors
  Gray: #8e8e8e
  Dark Gray #666666
  Darker Gray: #444444
  Light blue: #eafdf8
  Dark blue: #435e57
  Light purple: #e5e9ec
  Medium purple: #ddcad9
  Dark purple: #d1b1cb
  Black: #000
  White: #fff
  */

* {
  font-family:"Palatino";
}

.fa-line-chart {
  margin: 5px;
}

.fa-clock-o {
  margin: 5px;
}

.fa-graduation-cap {
  margin: 5px;
}

body {
  background-color: #666;
}

em {
  color: #d1b1cb;
}

p b {
  color: #d1b1cb;
}

.header {
  color: #fff;
  text-align: center;
  line-height: 10px;
  border: solid 3px #eafdf8;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 2px #444444;
  padding: 10px;
  background-color: #8e8e8e;
}

.header h1 {
  color: #fff;
  margin-bottom: 10px;
}

marquee {
  color: #eafdf8;
}

.header h2 {
  color: #ddcad9;
  font-size: 15px;
  line-height: 5px;
}

.objective {
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #eafdf8;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 10px 10px 2px #444444;
  padding: 10px;
  font-size: 14px;
  color: #ddcad9;
  background-color: #8e8e8e;
}

.objective h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;

}

.experience {
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #eafdf8;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 10px 10px 2px #444444;
  padding: 10px;
  font-size: 14px;
  color: #ddcad9;
  background-color: #8e8e8e;
}

.experience h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.experience h3 {
  color: #e5e9ec;
}

.barSeparation {
  background-color: #eafdf8;
  width: 350px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.school {
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #eafdf8;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 10px 10px 2px #444444;
  padding: 10px;
  font-size: 14px;
  color: #ddcad9;
  background-color: #8e8e8e;
}

.school h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.school h3 {
  color: #e5e9ec;
}
